@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean");
* { -webkit-overflow-scrolling: touch; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { min-height: 100%; }

html { font-size: 10px; font-family: "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "Noto Sans KR", "Spoqa Han Sans Neo", "Spoqa Han Sans", "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic", "돋움", Dotum, sans-serif; font-weight: 400; color: #293249; scroll-behavior: smooth; -webkit-text-size-adjust: none; }

body { background-color: #F7F7FA; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, fieldset, form, legend, p, blockquote, th, td, label, input, select, textarea, button, a { margin: 0; padding: 0; }

a, h1, h2, h2, h3, h4, h5, h6, label, input, textarea, select, button, small, p, span, dl, ul, ol, th, td, address, em, i, strong { font-size: inherit; font-family: inherit; font-weight: inherit; line-height: 1.5; color: inherit; }

dl, ol, ul, li { list-style: none; }

h1, h2, h2, h3, h4, h5, h6, address, em, i, strong, th { font-style: normal; }

a { text-decoration: none; }

img { border: 0; }

fieldset { border: none; }

a:focus, button:focus, textarea:focus, input:focus, select:focus, li:focus { outline: none; }

a, button, select { cursor: pointer; }

input[type=button], input[type=submit], select { border: none; background: none; }

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=date], select, textarea { -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-sizing: border-box !important; box-sizing: border-box !important; vertical-align: middle !important; }

select::-ms-expand { display: none; }

button { border: none; background: transparent; }

table { border-spacing: 0; }

iframe { border: none; }

.btn { display: inline-block; text-align: center; word-break: break-all; white-space: nowrap; vertical-align: middle; }

.btn-fill-primary { background-color: #293249; color: #fff; }

.btn-fill-primary:hover { opacity: 0.6; filter: alpha(opacity=${opacity-ie}); }

.btn-fill-gray { background-color: #D0D0D0; color: #767676; }

.btn-fill-gray:hover { opacity: 0.6; filter: alpha(opacity=${opacity-ie}); }

.collapse { display: none; }

.collapse.in { display: block; }

.btn-collapse { background-size: 24px; background-position: 100% 50%; }

.btn-collapse.collapsed { background-image: url(../images/ico-arrow-down-navy.png) !important; background-repeat: no-repeat; }

.btn-collapse:not(.collapsed) { background-image: url(../images/ico-arrow-up-navy.png) !important; background-repeat: no-repeat; }

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=date], textarea { border: none; }

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=date] { vertical-align: middle; }

input[type=password] { -webkit-text-security: disc; }

select { padding: 8px 36px 8px 16px !important; border: 1px solid #ddd; border-radius: 4px !important; background-color: #fff !important; background-image: url(../images/ico-arrow-down-gray.png) !important; background-repeat: no-repeat; background-size: 20px !important; background-position: right 8px top 50% !important; font-size: 1.2rem !important; line-height: 1.8rem !important; text-align: left !important; text-align-last: left; }

.checkbox-container { display: inline-block; position: relative; padding-left: 34px; font-size: 1.6rem; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.checkbox-container input { position: absolute; cursor: pointer; opacity: 0; }

.checkbox-container input:checked ~ .checkmark { border: 1px solid #293249; background-color: #293249; }

.checkbox-container input:checked ~ .checkmark:after { display: block; }

.checkbox-container .checkmark { position: absolute; top: 0; left: 0; width: 22px; height: 22px; border: 1px solid #ccc; border-radius: 4px; background-color: #fff; }

.checkbox-container .checkmark:after { content: ''; display: none; position: absolute; top: 50%; left: 50%; width: 6px; height: 12px; margin-top: -8px; margin-left: -3px; border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.checkbox-container:hover { color: #293249; }

.checkbox-container:hover input ~ .checkmark { border: 2px solid #293249; }

.form-item { overflow: hidden; padding: 12px 0; border-bottom: 1px solid #e1e1e1; }

.form-label, .form-field { font-size: 1.6rem; }

.form-label { float: left; width: 37.5%; margin-top: 2px; font-weight: 300; }

.form-label + * { float: left; width: 62.5%; }

.form-label + div .form-field { width: 100%; }

.form-error { display: none; margin-top: 4px; font-size: 1.1rem; color: #B41428; vertical-align: middle; }

.form-error.active { display: block; }

.form-error i { display: inline-block !important; width: 16px !important; height: 16px !important; margin-right: 8px; vertical-align: middle; }

img, video { max-width: 100%; height: auto; }

i[class^="ico"] { display: block; width: 24px; height: 24px; background-size: contain; }

.ico-ambulance { background-image: url(../images/ico-ambulance-gray.png) !important; background-repeat: no-repeat; }

.ico-group { background-image: url(../images/ico-group-gray.png) !important; background-repeat: no-repeat; }

.ico-location { background-image: url(../images/ico-location.png) !important; background-repeat: no-repeat; }

.ico-logout { background-image: url(../images/ico-logout.png) !important; background-repeat: no-repeat; }

.ico-point { background-image: url(../images/ico-point-gray.png) !important; background-repeat: no-repeat; }

.ico-profile { background-image: url(../images/ico-profile.png) !important; background-repeat: no-repeat; }

.ico-search { background-image: url(../images/ico-search.png) !important; background-repeat: no-repeat; }

.ico-warning { background-image: url(../images/ico-warning.png) !important; background-repeat: no-repeat; }

.active .ico-ambulance { background-image: url(../images/ico-ambulance-white.png) !important; background-repeat: no-repeat; }

.active .ico-group { background-image: url(../images/ico-group-white.png) !important; background-repeat: no-repeat; }

.active .ico-point { background-image: url(../images/ico-point-white.png) !important; background-repeat: no-repeat; }

.layout-header { overflow: hidden; position: absolute; top: 0; right: 0; left: 0; width: 100%; height: 84px; padding: 0 24px; background-color: #293249; }

@media screen and (max-width: 1199px) { .layout-header { text-align: center; } }

@media screen and (min-width: 1200px) { .layout-header { padding: 0 32px; } }

.header-logo { display: block; margin-top: 27px; padding-left: 62px; background-image: url(../images/logo.png) !important; background-repeat: no-repeat; background-size: 46px; background-position: 0 50% !important; font-size: 12px; font-weight: 700; color: #fff; }

@media screen and (max-width: 1199px) { .header-logo { position: absolute; } }

@media screen and (min-width: 1200px) { .header-logo { display: block; float: left; margin-top: 25px; padding-left: 88px; background-size: 72px; font-size: 14px; } }

.nav-menu { overflow: hidden; display: inline-block; height: 100%; padding: 8px 0; }

@media screen and (min-width: 1200px) { .nav-menu { margin-left: 72px; } }

.nav-menu a { display: block; float: left; width: 80px; height: 100%; padding: 12px 0; border-radius: 8px; font-size: 12px; text-align: center; color: #B8C5E1; }

@media screen and (min-width: 1200px) { .nav-menu a { width: 100px; font-size: 14px; } }

.nav-menu a.active { background-color: #3b486a; font-weight: 700; color: #fff; }

.nav-menu i { margin: 0 auto 2px; }

.nav-right { position: absolute; top: 30px; right: 24px; }

@media screen and (min-width: 1200px) { .nav-right { top: 13px; right: 32px; } }

.nav-account { max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12px; font-weight: 500; color: #B8C5E1; }

@media screen and (max-width: 1199px) { .nav-account { text-decoration: underline; } }

@media screen and (min-width: 1200px) { .nav-account { max-width: 236px; padding: 11px 20px; border-radius: 27px; background-color: #3b486a; font-size: 14px; color: #fff; } }

.nav-account i { width: 32px; height: 32px; margin-right: 12px; }

@media screen and (max-width: 1199px) { .nav-account i { display: none; } }

@media screen and (min-width: 1200px) { .nav-account i { display: inline-block; vertical-align: middle; } }

.btn-logout { width: 24px; height: 24px; margin-left: 16px; }

@media screen and (max-width: 1199px) { .btn-logout { overflow: hidden; text-indent: -9999px; color: transparent; text-shadow: none; } }

.layout-bgi, .layout-map { position: absolute; top: 0; right: 0; bottom: 0; left: 0; min-width: 768px; }

.layout-bgi { background-size: cover; background-position: 50% 50%; }

.layout-map .wrap-map { position: absolute; top: 84px; right: 0; bottom: 0; left: 0; }

.page-login { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-image: url(../images/bg-login.jpg) !important; background-repeat: no-repeat; }

.page-login .page-contents { position: relative; width: 62.5%; max-width: 580px; margin: auto; padding: 52px 80px 80px; background-color: #fff; border-radius: 20px; -webkit-box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); text-align: center; }

.page-login .page-contents > p { margin: 12px 0; font-size: 1.2rem; font-weight: 300; }

.page-login .page-contents > p span { font-weight: 500; }

.page-login .page-contents > h1 { font-size: 2.4rem; font-weight: 500; }

.page-login .page-contents form { margin-top: 8px; text-align: left; }

.page-login .page-contents form .checkbox-container { margin-top: 16px; }

.page-login .page-contents form .btn { display: block; width: 100%; margin-top: 20px; padding: 14px 24px; border-radius: 22px; font-size: 1.4rem; }

@media screen and (min-width: 1200px) { .page-login .page-contents > p { font-size: 1.6rem; }
  .page-login .page-contents > h1 { font-size: 3.2rem; }
  .page-login .page-contents form { margin-top: 16px; }
  .page-login .page-contents form .checkbox-container { margin-top: 32px; }
  .page-login .page-contents form .btn { padding: 15px 24px; border-radius: 28px; font-size: 1.8rem; } }

.layout-contents { position: absolute; top: 84px; bottom: 0; left: 0; width: 300px; }

@media screen and (min-width: 1200px) { .layout-contents { width: 360px; } }

.layout-contents .list-contents { overflow: auto; position: absolute; top: 0; bottom: 0; left: 0; width: 100%; background-color: #fff; -webkit-box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); z-index: 10; }

.layout-contents .list-title { padding: 16px 20px; font-size: 1.6rem; font-weight: 700; }

@media screen and (min-width: 1200px) { .layout-contents .list-title { font-size: 1.8rem; } }

.layout-contents .list-title span { font-weight: 300; }

.layout-contents .form-filter { position: relative; padding: 8px 20px 8px 72px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; background: rgba(41, 50, 73, 0.05); }

.layout-contents .form-filter label { position: absolute; top: 18px; left: 20px; font-size: 1.2rem; }

.layout-contents .form-filter select { width: 100%; }

.layout-contents .form-search { position: relative; padding: 8px 56px 8px 20px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; background: #f4f4f4; }

.layout-contents .form-search input[type=search] { padding: 8px 16px; border: 1px solid #ddd; border-radius: 4px; width: 100%; border-bottom-right-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 4px; border-top-left-radius: 4px; font-size: 1.2rem; }

.layout-contents .form-search input[type=search]:focus { border: 1px solid #ccc; }

.layout-contents .form-search button[type=submit] { position: absolute; top: 8px; right: 20px; width: 36px; height: 36px; border-bottom-right-radius: 4px; border-top-right-radius: 4px; background-color: #293249; background-size: 24px; background-position: 50% 50% !important; overflow: hidden; text-indent: -9999px; color: transparent; text-shadow: none; }

.layout-contents .form-search select { width: 100%; }

.layout-contents .list-caption { display: block; margin: 16px 20px 8px; font-size: 1.2rem; color: #8493ba; }

.layout-contents .list-caption span { font-weight: 700; }

.layout-contents .list { padding-bottom: 24px; }

.layout-contents .list > li { padding: 0 20px; }

.layout-contents .list > li:first-child > button { border-top: 1px solid #e1e1e1; }

.layout-contents .list-item.active.item-blue { position: relative; }

.layout-contents .list-item.active.item-blue:after { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; width: 8px; background-color: #126CBB; }

.layout-contents .list-item.active.item-navy:not(.item-collapse) { position: relative; }

.layout-contents .list-item.active.item-navy:not(.item-collapse):after { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; width: 8px; background-color: #293249; }

.layout-contents .list-item.active.item-navy .label-oval { background-color: #293249; font-weight: 700; color: #fff; }

.layout-contents .list-item.active.item-red { position: relative; }

.layout-contents .list-item.active.item-red:after { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; width: 8px; background-color: #B41428; }

.layout-contents .list-item button { display: block; width: 100%; padding: 16px 0; border-bottom: 1px solid #e1e1e1; font-size: 1.2rem; text-align: left; }

.layout-contents .list-item .label-oval { display: inline-block; width: 20px; height: 20px; margin-right: 12px; border-radius: 50%; background-color: #f4f4f4; font-size: 1.2rem; text-align: center; vertical-align: middle; line-height: 2rem; }

.layout-contents .list-item .label-oval + div { display: inline-block; vertical-align: middle; }

.layout-contents .list-item h5 { display: inline-block; margin-right: 12px; font-size: 1.4rem; font-weight: 500; }

.layout-contents .list-item.item-red h5 { color: #B41428; }

.layout-contents .list-item.item-blue h5 { color: #126CBB; }

.layout-contents .list-item ul { margin-top: 4px; }

.layout-contents .list-item ul > li { display: inline-block; vertical-align: middle; }

.layout-contents .list-item ul > * { position: relative; padding-right: 16px; }

.layout-contents .list-item ul > *:after { content: ''; display: block; position: absolute; top: 50%; margin-top: -5px; right: 6px; width: 1px; height: 10px; background-color: #e1e1e1; opacity: 1; }

.layout-contents .list-item ul > *:last-child { padding-right: 0; }

.layout-contents .list-item ul > *:last-child:after { width: 0; }

.layout-contents .item-collapse > ol.collapse { margin-left: 32px; }

.layout-contents .item-collapse .btn-collapse:not(.collapsed) .label-oval { background-color: #293249; font-weight: 700; color: #fff; }

.layout-contents .item-collapse .list-item.active.item-blue:after, .layout-contents .item-collapse .list-item.active.item-red:after { right: -20px; }

.layout-contents .btn-close { position: absolute; top: 20px; right: -44px; width: 44px; height: 44px; border-left: 1px solid #e1e1e1; border-bottom-right-radius: 4px; border-top-right-radius: 4px; background-color: #fff; background-image: url(../images/ico-close-navy.png) !important; background-repeat: no-repeat; background-position: 50% 50% !important; background-size: 20px; -webkit-box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); overflow: hidden; text-indent: -9999px; color: transparent; text-shadow: none; z-index: 10; }

@media screen and (min-width: 1200px) { .layout-contents .btn-close { right: -52px; width: 52px; height: 52px; background-size: 24px; } }

.item-nationalpoint { position: absolute; }

.item-nationalpoint label { padding: 2px 4px; background: #F6B505; font-size: 1.2rem; font-weight: 700; }

@media screen and (min-width: 1200px) { .item-nationalpoint label { padding: 4px 8px; font-size: 1.4rem; } }

.item-nationalpoint i { display: block; width: 24px; height: 24px; margin: 2px auto 0; }

@media screen and (min-width: 1200px) { .item-nationalpoint i { width: 32px; height: 32px; margin-top: 4px; } }

.modal { display: none; overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 500; -webkit-overflow-scrolling: touch; outline: 0; }

.modal-open { overflow: hidden; }

.modal-open .modal.in { overflow-x: hidden; overflow-y: auto; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; height: 100%; }

.modal-open .modal.in .modal-dialog { margin: auto; }

.modal-dialog { position: relative; width: auto; margin: 10px; }

.modal-content { position: relative; padding: 40px 80px 64px; background-color: #fff; border-radius: 20px; -webkit-box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1); outline: 0; }

.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 400; background-color: #000; }

.modal-backdrop.fade { opacity: 0; }

.modal-backdrop.in { opacity: 0.5; }

.modal-header { padding-bottom: 24px; border-bottom: 1px solid #293249; }

.modal-header h3 { font-size: 2.4rem; font-weight: 700; text-align: center; }

.modal-header h3 span { font-weight: 300; }

.modal-header .close { position: absolute; top: -64px; right: 0; width: 40px; height: 40px; background-image: url(../images/ico-close-white.png) !important; background-repeat: no-repeat; background-size: 40px; background-position: 50% 50% !important; overflow: hidden; text-indent: -9999px; color: transparent; text-shadow: none; }

.modal-body { position: relative; }

.modal-footer { padding-top: 52px; }

.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll; }

@media (min-width: 560px) { .modal-dialog { margin: 30px auto; }
  .modal-content { -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) 10px 15px rgba(0, 0, 0, 0.1); box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) 10px 15px rgba(0, 0, 0, 0.1); }
  .modal-sm { width: 300px; } }

@media screen and (min-width: 1680px) { .modal-lg { width: 1100px; } }

.modal-account { width: 640px; }

.modal-account .modal-body form > div { margin-top: 32px; }

.modal-account .modal-footer { overflow: hidden; text-align: center; }

.modal-account .modal-footer .btn { padding: 14px 24px; border-radius: 22px; font-size: 1.4rem; width: 160px; }

@media screen and (min-width: 1200px) { .modal-account .modal-footer .btn { padding: 15px 24px; border-radius: 28px; font-size: 1.8rem; width: 180px; } }

.modal-account .modal-footer .btn:not(:first-child) { margin-left: 12px; }

.modal-patient { width: 720px; }

@media screen and (min-width: 1200px) { .modal-patient { width: 880px; } }

.modal-patient .modal-body .box { margin-bottom: 32px; padding: 16px 20px; background-color: #f4f4f4; font-size: 1.4rem; text-align: center; }

.modal-patient .modal-body .box span { font-weight: 700; }

.modal-patient .modal-body .contents { overflow: hidden; position: relative; }

.modal-patient .modal-body .list, .modal-patient .modal-body .modal-map { width: 45%; }

.modal-patient .modal-body .list dl { overflow: hidden; padding: 16px 0; border-bottom: 1px solid #e1e1e1; font-size: 1.6rem; }

.modal-patient .modal-body .list dl dt { clear: both; float: left; width: 30%; margin-right: 40px; }

.modal-patient .modal-body .list dl dd { overflow: hidden; }

.modal-patient .modal-body .list dt { font-weight: 300; }

.modal-patient .modal-body .modal-map { position: absolute; top: 0; right: 0; bottom: 0; }
